In [3]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [4]:
def hash_function(key):
    return sum(index * ord(character) for index, character in enumerate(repr(key), start=1))

In [5]:
print(hash_function("a"))
print(hash_function("b"))
print(hash_function("c"))

350
352
354

In [16]:
data1=pd.read_csv(r"C:\Users\gomez\Desktop\Henry\Repos clases\Clase 06\Emisiones_CO2.csv",delimiter = '|', decimal=',', encoding='latin-1')

In [21]:
data1.head()
data1_copy=data1.copy()
print(data1.shape)
data1.head()

(11127, 6)

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas)
0,ABW,Aruba,América Latina y Caribe,1960,NaN,NaN
1,ABW,Aruba,América Latina y Caribe,1961,NaN,NaN
2,ABW,Aruba,América Latina y Caribe,1962,NaN,NaN
3,ABW,Aruba,América Latina y Caribe,1963,NaN,NaN
4,ABW,Aruba,América Latina y Caribe,1964,NaN,NaN

In [26]:
data1_copy.dropna(axis=0,how='any',inplace=True)
data1_copy.shape

(9029, 6)

In [27]:
data1_copy.head()

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas)
26,ABW,Aruba,América Latina y Caribe,1986,"179,683",2.868319
27,ABW,Aruba,América Latina y Caribe,1987,"447,374",7.234964
28,ABW,Aruba,América Latina y Caribe,1988,"612,389",10.026508
29,ABW,Aruba,América Latina y Caribe,1989,"649,059",10.634733
30,ABW,Aruba,América Latina y Caribe,1990,"1.840,83",29.620165

In [32]:
def hash_function(key):
    return sum(index * ord(character) for index, character in enumerate(repr(key), start=1))

data1_copy['Clave_Hash']=[hash_function(dato) for dato in data1_copy['Código de país']]

print(len(data1_copy))

9029

In [48]:
data1_copy.head()

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas),Clave_Hash
26,ABW,Aruba,América Latina y Caribe,1986,"179,683",2.868319,910
87,AND,Andorra,Europa y Asia Central,1995,"407,037",6.374495,870
104,AFG,Afganistán,Sur de Asia,1960,"414,371",0.046068,858
156,AGO,Angola,África subsahariana,1960,"550,05",0.104357,893
208,ALB,Albania,Europa y Asia Central,1960,"2.024,18",1.258195,856

 A partir del Dataframe creado en el punto 1, construir uno nuevo, que contenga solo los valores distintos de la tupla "Clave_Hash", "Código de País" , "Nombre de país" y "Región". Quitando luego del dataframe original los campos "Código de País" , "Nombre de país" y "Región"

In [ ]:
data1_copy.drop_duplicates(["Clave_Hash","Código de país","Nombre del país","Región"],inplace=True)
data1_copy

In [55]:
resultante = data1_copy[['Año', 'CO2 (kt)', 'CO2 per cápita (toneladas métricas)','Clave_Hash']]

In [56]:
resultante

        Año  CO2 (kt)  CO2 per cápita (toneladas métricas)  Clave_Hash
26     1986   179,683                             2.868319         910
87     1995   407,037                             6.374495         870
104    1960   414,371                             0.046068         858
156    1960    550,05                             0.104357         893
208    1960  2.024,18                             1.258195         856
...     ...       ...                                  ...         ...
10191  1960   828,742                             0.082261         932
10347  1960  4.319,73                             1.701583        1006
10659  1960  7.491,68                             0.215631         948
10713  1962    40,337                             0.594888         997
10815  1960    14,668                             0.135009         965

[108 rows x 4 columns]